<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controlar robô</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

    <style>

    </style>
</head>

<body>
    <!-- Formulário para enviar os dados -->
    <div class="container">
        <div>
            <h3>Nova posição</h3>
        <form>
            <div class="form-group">
                <label for="x">X:</label>
                <input type="number" id="x" name="x">
            </div>

            <div class="form-group">
                <label for="y">Y:</label>
                <input type="number" id="y" name="y">
            </div>

            <div class="form-group">
                <label for="z">Z:</label>
                <input type="number" id="z" name="z">
            </div>

            <div class="form-group">
                <label for="r">R:</label>
                <input type="number" id="r" name="r">
            </div>

            <div class="form-group">
                <label for="j1">J1:</label>
                <input type="number" id="j1" name="j1">
            </div>

            <div class="form-group">
                <label for="j2">J2:</label>
                <input type="number" id="j2" name="j2">
            </div>

            <div class="form-group">
                <label for="j3">J3:</label>
                <input type="number" id="j3" name="j3">
            </div>

            <div class="form-group">
                <label for="j4">J4:</label>
                <input type="number" id="j4" name="j4">
            </div>

            <button type="button" onclick="submitData()">Enviar</button>
        </form>
        </div>

        <div>
            <h3>Últimas posições</h3>
            <table id='table'>
                <row>
                    <th>x</th>
                    <th>y</th>
                    <th>z</th>
                    <th>r</th>
                    <th>j1</th>
                    <th>j2</th>
                    <th>j3</th>
                    <th>j4</th>
                </row>
            </table>
        </div>
    </div>
      <script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>


</html>