<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controlar robô</title>
</head>

<body>
    <form action="/api/position">
        <label for="x">x: </label><br>
        <input type="number" id="x" name="x"><br>
        <label for="y">y: </label><br>
        <input type="number" id="y" name="y"><br>
        <label for="z">z: </label><br>
        <input type="number" id="z" name="z"><br>
        <label for="r">r: </label><br>
        <input type="number" id="r" name="r"><br>
        <label for="j1">j1: </label><br>
        <input type="number" id="j1" name="j1"><br>
        <label for="j2">j2: </label><br>
        <input type="number" id="j2" name="j2"><br>
        <label for="j3">j3: </label><br>
        <input type="number" id="j3" name="j3"><br>
        <label for="j4">j4: </label><br>
        <input type="number" id="j4" name="j4"><br>
        <input type="submit" value="Enviar">
    </form>
</body>

</html>